# Coregateway
DATABASE_URL=postgresql://user:pass@localhost:5432/coredb?sslmode=disable&search_path=coregateway
ADMIN_EMAIL=
ADMIN_PASSWORD=
PORT=8080
ENV=dev-or-prod
ALLOWED_ORIGINS=http://localhost:3000
