# Coregateway
DATABASE_URL=postgresql://user:pass@localhost:5432/coredb?sslmode=disable&search_path=coregateway
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Corefinance (uses same DATABASE_URL, different search_path set in compose.yml)
