[submodule "coreban"]
	path = services/coreban
    url = git@github.com:ejsadiarin/coreban.git
    ; url = ssh://git@codeberg.org/ejsadiarin/coreban.git ; for codeberg
    
[submodule "corefinance"]
	path = services/corefinance
    url = git@github.com:ejsadiarin/corefinance.git
    ; url = ssh://git@codeberg.org/ejsadiarin/corefinance.git ; for codeberg
